<div class="jumbotron fujitsu" >
    <h1 class="text-info">About</h1>
    <table class="table-responsive">
        <tr>
        <tr>
            <td>
                <p style="font-size:18px"><b>Fastrack</b> is the new mobile enabled asset tracking system for Fujitsu.</p>
                <p style="font-size:14px">Get the app now by downloading the package at @Html.ActionLink("this location","DownloadPage","home") and sideload it to your android phone. Steps on how to sideload FASTrack on your android phones can be found on <a href="http://lifehacker.com/5943562/how-to-sideload-android-apps"> this link.</a></p>
                
            </td>
        </tr>
        <tr>
            <td>
                    <p style="font-size:18px"><b>Fastrack Online</b> is the companion website for the Fastrack mobile application. It provides the users the ability to</p>
                    <ul style="font-size:14px;font-style:italic">
                        <li>Manage their profile.</li>
                        <li>Manage their assets.</li>
                        <li>Manage approvals.</li>
                        <li>Maintain data.</li>
                        <li>Print reports.</li>
                    </ul>
                
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size:18px"><b>FastWS</b> is Fastracks asset management platform built based on REST architecture that enables third party developers to build their own app.</p>
            </td>
        </tr>
    </table>
    
</div>