@{
    ViewBag.Title = "Contact";
}
<style>
    h4
    {
        margin-left:10px;
    }
    p.contactdetails
    {
        display:block;
        font-size:0.9em;
        margin:0;
        margin-left:10px;
    }
</style>
<br />
<div class="jumbotron fujitsu col-lg-12">
    <div style="height:300px">
        <h1 class="text-info">Contact Us</h1>
        <div style="width:80%; ">
            <div style="clear:both;"> </div>
            <div style="width:33%; float:left;">
                <div style="clear:both;"> </div>
                <h4>Philippines (HO)</h4>
                    <p class="contactdetails">11/F NetSquare Building</p>
                    <p class="contactdetails">3rd Avenue corner 28th Street</p>
                    <p class="contactdetails">Crescent Park West</p>
                    <p class="contactdetails">Bonifacio Global City</p>
                    <p class="contactdetails">ZIP 1634</p>
                    <p class="contactdetails">Taguig City</p>
                    <p class="contactdetails">Tel: +63 2 7937900</p>
            </div>  
            <div style="width:33%; float:left;">
                <div style="clear:both;"> </div>
                <h4>Japan</h4>
                    <p class="contactdetails">3F Manulife Place</p>
                    <p class="contactdetails">4-20-1 Kamata</p>
                    <p class="contactdetails">O-ta-ku, Tokyo</p>
                    <p class="contactdetails">ZIP 144-0052</p>
                    <p class="contactdetails">Japan</p>
                    <p class="contactdetails">Tel: +81 3-5480-8507</p>
            </div> 
            <div style="width:33%; float:left;">
                <div style="clear:both;"> </div>
                <h4>United States of America</h4>
                    <p class="contactdetails">2250 East Imperial Highway</p>
                    <p class="contactdetails">Suite 200</p>
                    <p class="contactdetails">ZIP 90245</p>
                    <p class="contactdetails">El Segundo, California</p>
                    <p class="contactdetails">United States of America</p>
                    <p class="contactdetails">Tel: +1 310 602-7185</p>
            </div>  
        </div>    
</div>
   

</div>