@{
    ViewBag.Title = "Download Page";
}
<br />
<div class="col-lg-12">
    <div class="panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Download Page</h4>
        </div>
        <div class="panel-warning">
            <div class="panel-heading">
                <h4 class="panel-title">Pre-requisites</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a class="list-group-item danger" href="https://play.google.com/store/apps/details?id=com.google.zxing.client.android&hl=en">
                        <h4 class="list-group-item-heading">Barcode Scanner from ZXing</h4>
                        <p class="list-group-item-text">For FASTRACK to work, install this barcode scanner app as a prerequisite.</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">Android App</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a class="list-group-item danger" href="https://dl.dropboxusercontent.com/u/97422769/project-freebie/FASTRACK/fastrack_v0810.apk">
                        <table>
                            <tr>
                                <td style="padding-right:10px">
                                    <img src="../Images/downloadv0810.png" style="float:left" width="100" height="100" />
                                </td>
                                <td>
                                    <h4 class="list-group-item-heading">FASTRACK App v0.8.1.0 ( Pre-Alpha )</h4>
                                    <p class="list-group-item-text">
                                        Pre - Alpha Release<br />
                                        Click this link or scan the QR Code on the left.
                                    </p>
                                </td>
                            </tr>
                          
                        </table>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>