@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <table>
        <tr>
            <td width="50%"><center><img src="../Images/main_image.png"/></center></td>
            <td width="50%">
                <p class="lead">The <b>Fujitsu Asset Tracker Web or [FASTWeb]</b> is the companion web site for the new asset tracking mobile application developed for  the company.</p>
            </td>
        </tr>
    </table>
    
</div>

